PORT=5001
MONGO_URI=mongodb+srv://traveland-tripsdb:xVpX59bjHp2URYCN@cluster0.2xpou3c.mongodb.net/?appName=Cluster0
JWT_SECRET=ae4920382b3ccf585ed8005a1279b8989bb53fa1ba342ad9ae3ec87e3d7f6b64
JWT_REFRESH_SECRET=145b56a30a2e838a5a9d7618631afe303dabb4c88146e754349c3bcbaff7b19a
CORS_ORIGIN=https://traveland-trips.vercel.app
NODE_ENV=production
ADMIN_PASSWORD=admin1230
